<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        .bs-example {
            margin: 20px;
        }

        hr {
            margin: 25px 0;
        }
    </style>

</head>
<body>
    <div class="bs-example">
        <ul class="nav nav-pills">
            <li class=""><a href="#">Dashboad</a></li>
            <li>
                <a href="#" data-toggle="dropdown" class="">Project <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">View Projects</a></li>
                    <li><a href="#">Create Project</a></li>
                </ul>
            </li>
            <li class=""><a href="#">Departments</a></li>
            <li class="">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">View accounts</a></li>
                    <li><a href="#">Create account</a></li>
                    <li><a href="#">My Profile</a></li>
                    @*<li class="divider"></li>
                    <li><a href="#">Trash</a></li>*@
                </ul>
            </li>
            <li class=""><a href="#">Configuration</a></li>


            <li class="dropdown pull-right">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </li>
        </ul>
        <hr>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
